Repository guillaumedsde/alpine-qbittorrent-openvpn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, dockerhub-readme, pages

build:
  image: registry.gitlab.com/ix.ai/docker-buildx-qemu:latest
  stage: build
  services:
  - name: docker:dind
    alias: builder
  retry: 2
  variables:
    DOCKER_HOST: tcp://builder:2376/
    BUILDKIT_INLINE_CACHE: '1'
    DOCKER_DRIVER: overlay2
  ...

dockerhub-readme:
  stage: deploy
  variables:
    README_PATH: ./README.md
  image:
    name: sheogorath/readme-to-dockerhub:latest
    entrypoint:
    - ''
  script:
  - node /app/index.js

pages:
  stage: deploy
  image: node:10
  cache:
    paths:
    - node_modules/
  before_script:
  - npm install gitbook-cli -g
  - gitbook fetch 3.2.3
  - gitbook install
  script:
  - gitbook build . public
  artifacts:
    paths:
    - public
    expire_in: 1 week

Improve ovpn file parsing
  rootfs/etc/cont-init.d/03-setup-iptables
Due: build

feat: use static binary for building s390x
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

ci: fix tags
  .gitlab-ci.yml
Due: build, dockerhub-readme, pages

ci: revert to working config
  .gitlab-ci.yml
Due: build, dockerhub-readme, pages

feat: upgrade to qbittorrent 4.3.1
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

fix: shellcheck fixes and lint
  rootfs/usr/sbin/pia_port.sh
Due: build

Fix healthcheck, add autoheal label
  Dockerfile
  rootfs/usr/sbin/healthcheck.sh
Due: build

Enable setting umask
  rootfs/etc/services.d/qbittorrent/run
Due: build

feat: use static binary for s390x
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

docs: don't add autohela label by default and document feature in README
  Dockerfile
  README.md
Due: build, dockerhub-readme, pages

fix: shellcheck fixes on healthcheck script
  rootfs/usr/sbin/healthcheck.sh
Due: build

fix: shellcheck recommendations on qbittorrent port forwarding script
  rootfs/usr/sbin/set_qbittorrent_port_forwarding.sh
Due: build

Update run
  rootfs/etc/services.d/qbittorrent/run
Due: build

docs: typo
  README.md
Due: dockerhub-readme, pages

Updated OpenVPN config files link
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build

nordvpn scripts require bash interpreter
  Dockerfile
Due: build

feat: use alpine linux qbittorrent builds
  Dockerfile
  rootfs/etc/openvpn/modify-openvpn-config.sh
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

feat: upgrade to qbittorrent 4.3.2-r1
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

fix: increase healthcheck frequency
  Dockerfile
Due: build

Initial changes to add deluge
  Dockerfile
Due: build

Initial changes to add deluge
  http-socket/Dockerfile
Due: none

Initial changes to add deluge
  services/deluge-web/run
Due: none

Initial changes to add deluge
  services/deluge_exporter/run
Due: none

Initial changes to add deluge
  services/deluged/run
Due: none

Initial changes to add deluge
  services/nginx/run
Due: none

Initial changes to add deluge
  entrypoint.sh
Due: none

Update .dockerignore
  .dockerignore
Due: none

Rename entrypoint.sh to rootfs/etc/cont-init.d/04-deluge
  rootfs/etc/cont-init.d/04-deluge
Due: build

feat: use python based image everywhere
  Dockerfile
  build/build.sh
Due: build

feat: re-added linux/386 builds
  .gitlab-ci.yml
  README.md
Due: build, dockerhub-readme, pages

fix: depcrecate linux/386
  .gitlab-ci.yml
  README.md
Due: build, dockerhub-readme, pages

feat: upgrade qbittorrent to 4.3.4
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

feat: upgrade to alpine 3.13
  Dockerfile
  build/build.sh
Due: build

feat: update to qbt 4.3.4-r1
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

fix: limit to arm64, amd64 and s390x
  .gitlab-ci.yml
Due: build, dockerhub-readme, pages

feat: upgrade qbittorrent to 4.3.4.1
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

feat: bump qbit r1
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build

fix: added start interval to container
  Dockerfile
Due: build

fix: increase container start period
  Dockerfile
Due: build

Path conditions:
  build: any of: Dockerfile, rootfs/**/*, .gitlab-ci.yml, build/**/*
  dockerhub-readme: any of: README.md, .gitlab-ci.yml
  pages: any of: README.md, .gitlab-ci.yml
