Repository guillaumedsde/alpine-qbittorrent-openvpn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-containers, dockerhub-readme, pages

build-containers:
  image: docker:latest
  stage: build
  services:
  - name: docker:dind
    command:
    - --experimental
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    DOCKER_CLI_EXPERIMENTAL: enabled
    BUILDX_URL: https://github.com/docker/buildx/releases/latest/download/buildx-v0.4.1.linux-amd64
  ...

dockerhub-readme:
  stage: deploy
  variables:
    README_PATH: ./README.md
  image:
    name: sheogorath/readme-to-dockerhub:latest
    entrypoint:
    - ''
  script:
  - node /app/index.js

pages:
  stage: deploy
  image: node:10
  cache:
    paths:
    - node_modules/
  before_script:
  - npm install gitbook-cli -g
  - gitbook fetch 3.2.3
  - gitbook install
  script:
  - gitbook build . public
  artifacts:
    paths:
    - public
    expire_in: 1 week

feat: upgrade to qbt 4.2.5-r0
  install_qbittorrent_with_s6.sh
Due: none

feat: upgrade qbittorrent to 4.2.5 r2
  install_qbittorrent_with_s6.sh
Due: none

ci: trigger builds upon build script change
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

feat: echo build script lines before running
  install_qbittorrent_with_s6.sh
Due: none

fix: buildx url
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

more help
  README.md
Due: dockerhub-readme, pages

Update README.md
  README.md
Due: dockerhub-readme, pages

qbittorrent 4.3.0.1-r4
  install_qbittorrent_with_s6.sh
Due: none

fix: s6 build script inclusion
  .dockerignore
Due: none

feat: revert back to qbittorrent from alpine repositories and use buildx docker image
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  build/install_s6.sh
  build/prepare_builder.sh
Due: build-containers, dockerhub-readme, pages

fix: cleanup
  rootfs/usr/sbin/pia_port.sh
Due: build-containers

ci: use different buildx image
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

feat: revert back to statically compiled qbittorrent
  .dockerignore
  Dockerfile
  build/install_qbittorrent.sh
Due: build-containers

ci: specify docker buildx platforms
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

fix: use dockerhub as registry
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

ci: remove post build cleanup
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

fix: quote bash variables
  rootfs/usr/sbin/perfect_privacy_port.sh
Due: build-containers

fix: qbittorrent arch
  build/install_qbittorrent.sh
Due: build-containers

fix: syntax error
  build/install_qbittorrent.sh
Due: build-containers

fix: use printf instead of echo
  rootfs/usr/sbin/set_qbittorrent_port_forwarding.sh
Due: build-containers

fix: hadolint ignore false positive unpinned image
  Dockerfile
Due: build-containers

fix: quote default assignement
  rootfs/etc/cont-init.d/03-setup-iptables
Due: build-containers

fix: configs with custom scripts can now run
  rootfs/etc/cont-init.d/01-setup-permissions
  rootfs/etc/cont-init.d/02-setup-openvpn
  rootfs/etc/openvpn/modify-openvpn-config.sh
Due: build-containers

fix: shellcheck recommendations
  rootfs/etc/cont-init.d/03-setup-iptables
  rootfs/etc/services.d/openvpn/run
  rootfs/etc/services.d/qbittorrent/run
  rootfs/usr/sbin/healthcheck.sh
  rootfs/usr/sbin/perfect_privacy_port.sh
  rootfs/usr/sbin/pia_port.sh
  rootfs/usr/sbin/private_vpn_port.sh
  rootfs/usr/sbin/set_qbittorrent_port_forwarding.sh
Due: build-containers

fix: hadolint ignore some recommendations
  Dockerfile
Due: build-containers

feat: add hadolint and shellcheck to CI
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

fix: shellcheck recommendations
  build/build.sh
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: pia port forwarding
  rootfs/usr/sbin/pia_port.sh
Due: build-containers

Fix: openvpn-credentials.txt location
  rootfs/usr/sbin/pia_port.sh
Due: build-containers

Fix: add jq to apk installation list
  Dockerfile
Due: build-containers

Fix: "Broken pipe" output suppression
  rootfs/usr/sbin/pia_port.sh
Due: build-containers

Revert "Fix: "Broken pipe" output suppression"
  rootfs/usr/sbin/pia_port.sh
Due: build-containers

feat: install s6 from repos and build for s390x
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  build/install_s6.sh
  rootfs/etc/cont-init.d/01-setup-permissions
  rootfs/etc/cont-init.d/02-setup-openvpn
  rootfs/etc/services.d/openvpn/run
  rootfs/usr/sbin/install_qbittorrent.sh
Due: build-containers, dockerhub-readme, pages

fix: shellcheck disable
  rootfs/etc/services.d/openvpn/run
Due: build-containers

ci: disable docker tls
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

ci: specify host name for docker builder
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

ci: dind builder
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

ci: fix docker tags
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

ci: fix job tags
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

Fixed PIA Example Format
  README.md
Due: dockerhub-readme, pages

Path conditions:
  build-containers: any of: Dockerfile, rootfs/**/*, .gitlab-ci.yml, build/**/*
  dockerhub-readme: any of: README.md, .gitlab-ci.yml
  pages: any of: README.md, .gitlab-ci.yml
