Repository guillaumedsde/alpine-qbittorrent-openvpn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-containers, dockerhub-readme, pages

.gitlab-ci.yml:

stages:
  - analyze
  - build
  - deploy

fossa-license-scan:
  image: alpine:latest
  stage: analyze
  before_script:
    - apk add --no-cache bash curl
    - "curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | bash"
  script:
    - fossa init
    - fossa analyze

build-containers:
  image: docker:latest
  stage: build
  services:
    - name: "docker:dind"
      command: ["--experimental"]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    DOCKER_CLI_EXPERIMENTAL: enabled
    BUILDX_URL: https://github.com/docker/buildx/releases/latest/download/buildx-v0.4.1.linux-amd64
    BUILDX_BUILDER: builder
    BUILDX_PLATFORM: linux/amd64,linux/386,linux/arm64,linux/arm/v7,linux/arm/v6,linux/ppc64le
  before_script:
    - chmod +x ./build/prepare_builder.sh
    - . ./build/prepare_builder.sh
  script:
    - chmod +x ./build/build.sh
    - . ./build/build.sh
  only:
    changes:
      - Dockerfile
      - rootfs/**/*
      - .gitlab-ci.yml
      - build/**/*

# the 'pages' job will deploy and build your site to the 'public' path
dockerhub-readme:
  stage: deploy
  variables:
    README_PATH: ./README.md
  image:
    name: sheogorath/readme-to-dockerhub:latest
    entrypoint: [""]
  script:
    - node /app/index.js
  only:
    refs:
      - master
    changes:
      - README.md
      - .gitlab-ci.yml

# the 'pages' job will deploy and build your site to the 'public' path
pages:
  stage: deploy
  # requiring the environment of NodeJS 10
  image: node:10
  # add 'node_modules' to cache for speeding up builds
  cache:
    paths:
      - node_modules/ # Node modules and dependencies
  before_script:
    - npm install gitbook-cli -g # install gitbook
    - gitbook fetch 3.2.3 # fetch final stable version
    - gitbook install # add any requested plugins in book.json
  script:
    - gitbook build . public # build to public path
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    refs:
      - master
    changes:
      - README.md
      - .gitlab-ci.yml

ci: don't explicitely set FOSSA API key
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

ci: remove fossa license scan
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

fix: fallback for VPN protocol and port
  rootfs/etc/cont-init.d/03-setup-iptables
Due: build-containers

ci: fix build script image tag
  build/build.sh
Due: build-containers

ci: fix build script
  build/build.sh
Due: build-containers

fix: protect shell expansion with quotes
  Dockerfile
  rootfs/etc/cont-init.d/01-setup-permissions
  rootfs/etc/cont-init.d/02-setup-openvpn
  rootfs/etc/cont-init.d/03-setup-iptables
  rootfs/etc/services.d/openvpn/run
  rootfs/etc/services.d/qbittorrent/run
  rootfs/usr/sbin/healthcheck.sh
Due: build-containers

feat: use official alpine repos build of qbittorrent
  Dockerfile
Due: build-containers

ci: also build python version
  Dockerfile
  build/build.sh
Due: build-containers

fix: python base image version
  Dockerfile
  build/build.sh
Due: build-containers

fix: url encode spaces
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: dockerignore rootfs
  .dockerignore
Due: none

fix: download entire openvpn provider config directory
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

docs: clarify python based image
  README.md
Due: dockerhub-readme, pages

feat: better error checking during openvpn startup
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: document capp_add
  README.md
Due: dockerhub-readme, pages

fix: cleanup openvpn setup script
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

docs: update README
  README.md
Due: dockerhub-readme, pages

fix: use svn to sparse checkout only given provider configs
  Dockerfile
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: don't set permissions on the default download directory
  rootfs/etc/cont-init.d/01-setup-permissions
Due: build-containers

fix: svn force export openvpn configs
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: branch build script
  build/build.sh
Due: build-containers

feat: start conversion to nftables
  rootfs/etc/cont-init.d/03-setup-iptables
Due: build-containers

fix: try to correctly set permissions on OpenVPN directory
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: less restrictive permissions on openvpn config directory
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: permissions issue when starting openvpn
  Dockerfile
  rootfs/etc/cont-init.d/02-setup-openvpn
  rootfs/etc/services.d/openvpn/run
Due: build-containers

fix: don't use tagged version use commit hash intead
  build/build.sh
Due: build-containers

feat: port forward
  Dockerfile
  rootfs/etc/cont-init.d/01-setup-permissions
  rootfs/etc/services.d/qbittorrent/run
  rootfs/usr/sbin/perfect_privacy_port.sh
  rootfs/usr/sbin/pia_port.sh
  rootfs/usr/sbin/private_vpn_port.sh
  rootfs/usr/sbin/set_qbittorrent_port_forwarding.sh
Due: build-containers

docs: document port forwarding
  README.md
Due: dockerhub-readme, pages

docs: added issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: configure github issue templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none

docs: disable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

docs: deleted git tags
  README.md
Due: dockerhub-readme, pages

docs: added bug report issue template header
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: updated bug report template description
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

docs: allow blank issues
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix: only chown openvpn config file
  rootfs/etc/cont-init.d/02-setup-openvpn
Due: build-containers

fix: revert libtorrent-rasterbar
  Dockerfile
Due: build-containers

feat: build qbittorrent static binary locally
  Dockerfile
Due: build-containers

ci; only compîle arm
  .gitlab-ci.yml
Due: build-containers, dockerhub-readme, pages

fix: script install of qbit and S6 to use static binary
  .dockerignore
  Dockerfile
  install_qbittorrent_with_s6.sh
Due: build-containers
